{% extends 'base.html' %}
{% block content %}
<br>
<br>
<br>
<br>
<div class="container text-center">

    <br>
    <br>
    <br>
    <br>
    <h3>Are you sure you want to delete "{{item}}"</h3>

    <br>
    <form method="POST" action="{% url 'delete_review' pk=item.id %}">
        {% csrf_token %}
        {{form}}
        <a href="{% url 'macrame-detail' macrame_id=macrame_id %}" class="btn btn__update_rev">Cancel</a>
        <input type="submit" name="Confirm" class="btn btn__remove__rev">

    </form>
</div>
<br>
<br>
<br>
<br>
{% endblock %}