{% extends 'base.html' %}
{% load static %}

{% block content %}
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<div class="container">
    <div class="row text-center ">
        <div class="col">
            <form method="POST">
                <h1> {{review_.title}}</h1>
                {{form.as_p}}
                <a href="{% url 'update_review' review_.id %}" class="btn">Update</a>
                <hr>
                <a href="{% url 'delete_review' review_.id %}" class="btn text-danger">Remove</a>
            </form>
        </div>
    </div>
</div>


{% endblock %}