{% extends 'base.html' %}
{% load static %}

{% block content %}
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<div class="container">
    <div class="row text-center">
        <div class="col">
            <h1>Update your review here! </h1>

            {% for review in review.macrame_id %}
            <form method="POST" action="#">
                {% csrf_token %}
                <h1> {{form}}</h1>

                {% for field in form %}
                {{ field | as_crispy_field }}

                {{ field }}

                {% endfor %}

            </form>
            <a href="{% url 'update_review' review.id %}" class="btn">Update</a>
            <hr>
            <a href="{% url 'delete_review' review.id %}" class="btn text-danger">Remove</a>

            {% endfor %}

        </div>
    </div>
</div>


{% endblock %}