{% extends "base.html" %}

{% block content %}
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<div class="container">


    <form action="#" method="POST">
        {% csrf_token %}
        {{form}}
        Subscribe to receive news when new collections are released!
        <input placeholder="Enter Email address" type="email" name="email">
        <button type="submit">Subscribe!
        </button>
    </form>
</div>
<br>
<br>
<br>
<br>
<!-- message if email is sent -->
{% if messages %}
{% for message in messages %}
<div class="my-5 alert alert-success">
    <h5 class="m-0">
        {{ message }}
    </h5>
</div>
{% endfor %}
{% endif %}
{% endblock %}