{% extends "base.html" %}

{% block content %}
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<div class="container text-center">
    <h1>Subscribe here to receive news on offers! Thank You!</h1>
    <form action="#" method="POST">
        Your Email Address here ..
        {% csrf_token %}
        {{form}}
        Subscribe to receive news when new collections are released!
        <button type="submit" class="btn__update_rev rounded">Subscribe!
        </button>
    </form>
</div>
<br>
<br>
<br>
<br>
<!-- message if email is sent -->
{% if messages %}
{% for message in messages %}
<div class="my-5 alert alert-success">
    <h5 class="m-0">
        {{ message }}
    </h5>
</div>
{% endfor %}
{% endif %}
{% endblock %}