{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container">
    <br>
    <br>
    <br>
    <div class="row">
        <div class="col"></div>
        <h1 class="col rounded">404 Page</h1>
        <div class="image-fluid">
            <img src="{% static 'images/404page-image.png' %}" alt="A 404 Error image">
        </div>
        <strong>Oh! It seems that this page doesn't exist.</strong>
        <button class="btn">
            <a href="{% url 'macrames' %}" aria-label="Back to homepage" class="log-btn">
                <i class="fas fa-store"></i>
                Back to Irish Macrame
            </a>
        </button>
        <div class="col"></div>

    </div>
</div>
{% endblock %}