{% extends "base.html" %}
{% load static %}

<head>
    <title>Irish Macrame {% block extra_title %} Cancel Chekingout Page {% endblock %}</title>

</head>

{% block extra_css %}
<link rel="stylesheet" href="{% static 'checkout/css/checkout.css' %}">
{% endblock %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<section>
    <p>Forgot to add something to your cart? Shop around then come back to pay!</p>
</section>

{% endblock %}