{% extends 'base.html' %}
{% load static %}


<head>
    <title>Irish Macrame {% block extra_title %} HomePage Irish Macrame{% endblock %}</title>

</head>

{% block page_header %}
{% endblock %}
{% block content %}
<div class="container-fluid my-4">
    <div class="row">
        <div class="col text-left mt-5">
        </div>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <div class="row">
        <div class="col font-weight-bold text-center">
            <h4>
                <a href="{% url 'macrames' %}" class="shop-now-button btn btn-lg rounded py-3" title="Browse Macrame Items">Browse Here!</a>
            </h4>
        </div>
    </div>
    <div class="row">
        <div class="mx-auto my-2">
            <img src="{% static 'images/logo-anim.gif' %}" class="img-fluid p-2 rounded-circle" alt="animated logo for the shop">
        </div>
    </div>
</div>

{% endblock %}