/* 
font-family: 'Indie Flower', cursive;
font-family: 'Playfair Display', serif; */

/* color palette:   #1ef1f1 for a impactfull black text on navbar and Logo
                    #965d30 for a combination of colors for the background - first shade
                    #b76a44 for a combination of colors for the background - second shade
                    #e8a49a for a combination of colors for the background - third shade
                    #ffbfbe for a combination of colors for the background - fourth shade
                    #ebe8ee for the ghost white to accentuate dark text and on some text
                
*/

@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Playfair+Display:ital,wght@1,600&display=swap');

html {
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
}

body {
    background: linear-gradient(to top right, #965d30, #b76a44, #e8a49a, #ffbfbe) no-repeat;
    background: -moz-linear-gradient(to top right, #965d30, #b76a44, #e8a49a, #ffbfbe) no-repeat;
    background: -ms-linear-gradient(to top right, #965d30, #b76a44, #e8a49a, #ffbfbe) no-repeat;
    background: -webkit-linear-gradient(to top right, #965d30, #b76a44, #e8a49a, #ffbfbe) no-repeat;
    background: -webkit-linear-gradient(to top right, #965d30, #b76a44, #e8a49a, #ffbfbe) no-repeat;
    background: -o-linear-gradient(to top right, #965d30, #b76a44, #e8a49a, #ffbfbe) no-repeat;
    background-size: cover;
    color: #2e1b09;
    font-family: 'Indie Flower', cursive;
}


.card__img {
    object-fit: fill;
}

.card__img:hover {
    opacity: 0.7 !important;
}

p {
    color: #2f231a;
}

.nav-link {
    color: #1e1f1f !important;
    background-color: #f3ab99 !important;

}

.nav-link:hover {
    color: #ebe8ee !important;
    background-color: #b76a44 !important;
}

.product-details-container {
    background-color: rgba(37, 23, 23, 0.188);
    color: #ebe8ee;
    font-size: 2rem;
}

h4 {
    color: #cfc8c6;
    font-size: smaller;
}

h5 {
    color: #886e67;
}

.log-btn {
    background-color: #ffbfbe !important;
}

.log-btn:hover {
    background-color: #965d30 !important;
}


.overlay {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    z-index: -1;
}

a.category-badge>span.badge:hover {
    background: #212529 !important;
    color: #fff !important;
}

.btt-button {
    height: 42px;
    width: 42px;
    position: fixed;
    bottom: 10px;
    right: 10px;
}

input[name='q']::placeholder {
    color: #aab7c4;
}

/* Macrame Form with the widget */

.custom-checkbox .custom-control-label::before {
    border-radius: 0;
    border-color: #dc3545;
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
    background-color: #dc3545;
    border-color: #e19ea4;
    border-radius: 0;
}

.home__a,
.to-top__btn {
    font-size: 2rem;
    background-color: #f3ab99;
    color: #493a3a;
}

.home__a:hover,
.to-top__btn:hover {
    background-color: #493a3a;
    color: #f3ab99;
    text-decoration: none;
}

.cart__nav {
    font-size: 2rem;
}

.fa-shopping-cart:hover {
    color: #696363;
}

.navbar-brand,
.fa-shopping-cart {
    color: #493a3a !important;
}

.btn {
    background-color: #b783eb !important;
}

.btn:hover {
    background-color: #ffbfbe !important;
}

.update-link,
.remove-item {
    cursor: pointer;
    font-size: 1.5rem;
}

.update-link:hover {
    background-color: #835b51 !important;
}

.remove-item:hover {
    background-color: #e19ea4;
}


.logo {
    color: #412722;
    font-size: 2rem;
}

.likes-font {
    color: #564c4a;
}

.heart-btn {
    color: #dc3545;
}

.blockquote-footer {
    color: #ebe8ee !important;
    background-color: unset;
    font-size: 1.5rem;
}

.review-wrap {
    background-color: #ebe8ee;
    opacity: 0.8;
}

.grand-total {
    color: #0d0d0e !important;
    font-size: 2rem;
}

/* ------------------------------- bootstrap toasts */

.message-container {
    position: fixed;
    top: 75px;
    right: 15px;
    z-index: 99999999999;
}

.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 3px;
}

/* from CSS-tricks.com: https://css-tricks.com/snippets/css/css-triangle/ */
.arrow-up {
    width: 0;
    height: 0;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-bottom: 10px solid black;
    position: absolute;
    top: -10px;
    right: 36px;
}

/* Convenience classes - colors copied from Bootstrap */
.arrow-primary {
    border-bottom-color: #007bff !important;
}

.arrow-secondary {
    border-bottom-color: #6c757d !important;
}

.arrow-success {
    border-bottom-color: #28a745 !important;
}

.arrow-danger {
    border-bottom-color: #dc3545 !important;
}

.arrow-warning {
    border-bottom-color: #ffc107 !important;
}

.arrow-info {
    border-bottom-color: #17a2b8 !important;
}

.arrow-light {
    border-bottom-color: #f8f9fa !important;
}

.arrow-dark {
    border-bottom-color: #343a40 !important;
}

.bag-notification-wrapper {
    height: 100px;
    overflow-x: hidden;
    overflow-y: auto;
}

.bag-total:hover {
    color: #fee1d9;
}

/* Allauth form formatting */

.allauth-form-inner-content p {
    margin-top: 2.5rem;
    /* mt-4 */
    color: #6c757d;
    /* text-secondary */
}

.allauth-form-inner-content input {
    border-color: #000;
    border-radius: 0;
}

.allauth-form-inner-content label:not([for='id_remember']) {
    display: none;
}

.allauth-form-inner-content input::placeholder {
    color: #aab7c4;
}

.allauth-form-inner-content button,
.allauth-form-inner-content input[type='submit'] {
    /* btn */
    display: inline-block;
    font-weight: 400;
    color: #fff;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #000;
    border: 1px solid #000;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0;

    /* standard bootstrap btn transitions */
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.allauth-form-inner-content button:hover,
.allauth-form-inner-content input[type='submit']:hover {
    color: #fff;
    background-color: #222;
    border-color: #222;
}

.allauth-form-inner-content a {
    color: #17a2b8;
    /* text-info */
}

.signout-btn {
    background-color: #e8a49a;
    border-radius: 15%;
}

.signout-btn:hover {
    background-color: #768591;
}

/* Media queries */

/* Large devices (desktops, less than 1200px) */
@media (max-width: 1010.98px) {}

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
    .container {
        max-width: 80%;
    }
}

/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }
}

/* Medium devices (tablets, less than 992px) */

/* pad the top a bit when navbar is collapsed on mobile */
@media (max-width: 991px) {
    .header-container {
        padding-top: 146px;
    }

    .cart__img {
        max-width: 220px !important;
    }
}

/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {
    .cart__img {
        max-width: 160px !important;
    }
}

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 500.98px) {

    .cart__img {
        max-width: 40px !important;
    }

    .checkout__img {
        max-width: 150px !important;
    }

    .logo {
        max-width: 140px !important;
    }

    .home__a {
        font-size: 1.5rem !important;
    }
}