{% load static %}

<!doctype html>
<html lang="en">

<head>

    {% block meta %}
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Gift Shop with handmade macrame items, home decor 
                            with personalized wall hangers and macrame items">
    <meta name="keywords" content="macrame, shop, irish, handmade, wall hangings, home decor,
                            gift macrame, personalized gift, ireland, europe, plant hangers">

    {% endblock %}

    {% block extra_meta %}
    {% endblock %}

    {% block corecss %}
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Indie+Flower&family=Playfair+Display:ital,wght@1,600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/base.css' %}" type="text/css">

    <link rel="shortcut icon" href="#">
    {% endblock %}

    {% block extra_css %}
    {% endblock %}

    {% block corejs %}
    <script src="https://kit.fontawesome.com/0ab8070b0e.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script rel="javascript" src="/static/js/base.js" type="text/javascript"></script>
    <!-- Stripe javascript -->
    <script src="https://js.stripe.com/v3/" type="text/javascript"></script>
    {% endblock %}

    {% block extra_js %}
    {% endblock %}

    <title>Irish Macrame {% block extra_title %}{% endblock %}</title>
</head>

<body>
    <header>
        <nav class="navbar navbar-light bg-light fixed-top">
            <!-- Navbar brand -->
            <a class="navbar-brand rounded bg-transparent" href="{% url 'home' %}" title="Irish Macrames Home">
                <h1 class="logo mt-4">
                    <img src="{% static 'images/cacti-moonlogo-08.jpg' %}" style="height: 7rem; width: 7rem;" class="rounded-circle" alt="logo of creator">
                    Irish Macrames
                </h1>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto align-items-right">
                    <li class="nav-item active mt-4 text-right">
                        <a class="nav-link rounded-left" href="{% url 'macrames' %}" title="Macrame Selection">Macrames</a>
                    </li>
                    {% if request.user.is_authenticated %}
                    {% if request.user.is_superuser %}
                    <li class="nav-item dropdown text-right">
                        <a class="nav-link dropdown-toggle mt-4 rounded-bottom text-right mr-2" title="My Profile" href="{% url 'profile' %}" role="button" data-toggle="dropdown" aria-expanded="false">
                            My Profile<i class="fa fa-user" aria-hidden="true"></i>
                        </a>
                        {% endif %}
                        <div class="dropdown-menu text-right">
                            <a class="dropdown-item nav-link text-right mr-2" href="{% url 'add_macrame' %}" class="rounded-botom">Manage Stock</a>
                            <a class="dropdown-item nav-link text-right mr-2" href="{% url 'account_logout' %}" class="rounded-bottom">Logout</a>
                            {% else %}
                            <a class="dropdown-item nav-link text-right mr-2" href="{% url 'account_signup' %}" class="rounded-bottom">Register</a>
                            <a class="dropdown-item nav-link text-right mr-2" href="{% url 'account_login' %}" class="rounded-bottom">Login</a>
                            {% endif %}
                        </div>
                    </li>

                    <li class="nav-item mt-4 text-right">
                        <a class="{% if grand_total %}text-info font-weight-bold{% else %}text-black{% endif %} nav-link rounded-right" title="Shoppincart" href="{% url 'view_shoppingcart' %}">
                            <div class="text-right">
                                <span>
                                    <i class="fa fa-shopping-cart fa-sm" aria-hidden="true"></i>
                                    {% if grand_total %}
                                    €{{ grand_total|floatformat:2 }}
                                    {% else %}
                                    €0.00
                                    {% endif %}
                                </span>
                            </div>
                        </a>
                    </li>
                </ul>
                <form method="GET" action="{% url 'macrames' %}" class="form-inline my-2 my-lg-0 my-md-2">
                    <div class="input-group w-100 mt-2">
                        <input class="form-control border border-black rounded mr-sm-2" type="text" name="q" placeholder="Search our site">
                        <div class="input-group-append">
                            <button class="form-control btn border-black rounded my-2 my-sm-0" type="submit">
                                <span class="icon">
                                    <i class="fas fa-search"></i>
                                </span>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </nav>
    </header>
    {% if messages %}
    <div class="message-container">
        {% for message in messages %}
        {% with message.level as level %}
        {% if level == 40 %}
        {% include 'includes/toasts/toast_error.html' %}
        {% elif level == 30 %}
        {% include 'includes/toasts/toast_warning.html' %}
        {% elif level == 25 %}
        {% include 'includes/toasts/toast_success.html' %}
        {% else %}
        {% include 'includes/toasts/toast_info.html' %}
        {% endif %}
        {% endwith %}
        {% endfor %}
    </div>
    {% endif %}

    {% block page_header %}
    {% endblock %}

    {% block content %}
    {% endblock %}

    {% block postloadjs %}
    <script type="text/javascript">
        $('.toast').toast('show');
    </script>
    {% endblock %}

    <!-- FOOTER -->
    <footer class="container text-center blockquote">
        <a class="blockquote-footer" target="_blank" rel="noopener" href="https://www.etsy.com/ie/shop/BlackmoondesignsArt?ref=simple-shop-header-name&listing_id=1018475936">
            Visit my Etsy Shop <i class="fa fa-etsy" aria-hidden="true"></i>
        </a> &middot
        <a class="blockquote-footer" href="#" target="_blank">Terms and conditions</a> &middot;
        <a class="blockquote-footer" href="mailto:martinagoodliving@gmail.com" target="_blank" rel="noopener">
            Email the Artist</a> &middot;
        <a class="blockquote-footer" href="https://www.facebook.com/BlackMoonDesigns13" target="_blank" rel="noopener">
            Black Moon Designs Facebook <i class="fa fa-facebook-square" aria-hidden="true"></i>
        </a> &middot;
        <a class="blockquote-footer" href="https://www.instagram.com/black_moon_designs/" target="_blank" rel="noopener">
            @Blackmoon <i class="fa fa-instagram" aria-hidden="true"></i>
        </a> &middot;
        <a class="blockquote-footer" href="https://www.linkedin.com/in/martina-grganic/" target="_blank" rel="noopener">
            Website Creator<i class="fa fa-linkedin-square" aria-hidden="true"></i>
        </a>
        <br>
        <br>
        <br>
        <p class="blockquote-footer">&copy; {% now "Y" %} Handmade Macrame, Inc. </p>
        <br>
    </footer>
    <p class="text-right mr-2 fixed-bottom"><a href="#"><i class="fa fa-chevron-circle-up" aria-hidden="true"></i>
        </a></p>

</body>


</html>